<section class="camera section-fullscreen flex-vertical-center"> 
  <div class="container">

    <div id="clearance" class="sign-in">
      <h2 class="form-signin-heading">Please sign in</h2>

      <%= render partial: '/sessions/form' %>
    </div>

    <% if signed_out? %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>

  </div>
</section>




