

<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>
</div>





<div class="hero-header">
  <div class="main-text">Pair BnB</div>
  <div class="sub-text">A place to find your next home</div>
</div>
<div class="div-one">
  <div class="para-one">
    <h1>About Us</h1>
    Content to be updated.</div>
  <div class="para-two">
    <h1>Why use us</h1>
    Content to be updated.
  </div>
</div>



