<div class="#" style="background: #f6f6f6;">
  <div class="space">
      <p><strong>User Profile:</strong></p><br>
          <%= image_tag (@user.photo.thumb.url), class: "img-circle" %>
  </div>
</div>
