<div class="container">

  <%= form_for @reservation do |form| %>
    <%= render partial: '/reservations/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

  <% end %>

</div>