/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require daterangepicker-bs3
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * Base structure
 */

body {
  background-color: #333;
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}



.hero-header {
  text-align: center;
  height: 500px;
  padding-top: 10%;
  text-transform: uppercase;
  color: #fff;
  .main-text {
    letter-spacing: 6px;
    font-size: 70px;
    margin-bottom: 20px;
  }
  .sub-text {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: lighter;
  }
}


@media screen and (max-device-width: 600px) {
  .hero-header{
    .main-text {
        color: yellow;
        font-size: 100px;
    }

    .sub-text {
    color: yellow;
    font-size: 15px;
    }
  }
}


.container {
  margin: 10px;
  padding: 10px;
}

/*----- Para -----*/

.div-one {
  min-height: 400px;
  color: #fff;
}

.para-one {
  width: 50%;
  float: left;
}

.para-two {
  width: 50%;
  float: left;
}
 
@media screen and (max-device-width: 600px) {
  .para-one {
  width: 100%;
  float: left;
  }

  .para-two {
  width: 100%;
  float: left;
  }
}


/*----- Menu -----*/
  .menu {
    width:100%;
    background:#ff5a5f;
  }

.menu ul {
  display:inline-block;
}
 
.menu li {
  margin:0px 50px 0px 0px;
  float:left;
  list-style:none;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 2px;
}
 
.menu li:last-child {
  margin-right:0px;
}
 
.menu a {
  color:#fff;
  transition:color linear 0.15s;
  text-decoration: none;
}
 
.menu a:hover, .menu .current-item a {
  text-decoration:none;
  color:#303030;
}
.menu {
  width:100%;
  background:#ff5a5f;
}
 
.menu ul {
  display:inline-block;
}
 
.menu li {
  margin:0px 50px 0px 0px;
  float:left;
  list-style:none;
  font-size:17px;
}
 
.menu li:last-child {
  margin-right:0px;
}
 
.menu a {
  color:#fff;
  transition:color linear 0.15s;
  text-decoration: none;
}
 
.menu a:hover, .menu .current-item a {
  text-decoration:none;
  color:#303030;
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  background-color: black;
  color: white;
  padding: 10px;
  margin: auto;
  ul {
    li {
      float: left;
      margin-right: 20px;
      list-style: none;
      display: inline;
    }
  }
}

@media screen and (max-device-width: 600px) {
  .menu{
    display: none;
  }
}


/*----- Listing Index Page -----*/


body .index{
  background-color: #eee;
}



/*----- Signup, SiginA place to find your next home -----*/

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section{
  margin: 0;
  padding: 0;
}

section.camera{
  color: #FFF;
  background-position: 50% 50% !important;
  background-size: cover !important;
  width: 100%;

  /*background: image-url('travel.jpg');*/
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), image-url('travel.jpg');
}

/*begin section sizing*/
.section-fullscreen{
  min-height: 100vh;
}

.section-md{
  padding: 40px 0;
}
/*End section sizing*/

/*Vertical alignment using flexbox*/
.flex-vertical-center{
  display: flex;  /*//enable flexbox*/
  align-items: center; /*//this center content vertically*/
  justify-content: center;  /*//this centers content horizontally*/
}

footer{
  color: #828282;
}

/*----- jquery ui slider -----*/

#slider .ui-slider-range { 
background: #5bc0de;
 }


.btnsize{
  width: 300px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


